include page.pug
include helper.pug

+page("AMT ID", true)
    center
        | Please enter your AMT ID:
        br
        br
        input(placeholder="AMT ID", id="amtid_input", autofocus)
        br
        br
        br
        center
            +navigation_button("Next", "send_amtid();")
             
