include page.pug
include helper.pug

+page(true)
    center
        | Please enter your Prolific ID:
        br
        br
        input(placeholder="Prolific ID", id="amtid_input", autofocus)
        br
        br
        br
        center
            +navigation_button("Next", "send_amtid();")
             
