include page.pug
include helper.pug

+page()
    +navigation_button("Write and read","go_to_chat(false);")
    br
    br
    br
    +navigation_button("Speak and listen","go_to_chat(true);")
    
    