include page.pug
include helper.pug

+page("Chat with Cora", true, true)
    div(class="chat_window")
        div(class="top_menu")
            div(id="chat_title", class="chat_window_title")
        ul(class="messages")
        div(class="bottom_wrapper clearfix")
            div(id="go_to_questionnaire", style="display:none;")
                center
                    +navigation_button("Next", "go_to_questionnaire(\"q1\");")

            div(id="wait_answer", style="display:none;")
                center
                    i Wait for Cora's answer

            div(id="hello_cora_div", style="display:block;")
                center
                    button(class="likert_button", id="hello", style="width:180px;")
                            span="Hello Cora!" 

            div(id="user_name_div", style="display:none;")
                center
                    | My name is
                    |
                    input(type="text", id="user_name" class="user_name_input")
                    div(class="spacing_div")
                    div(class="spacing_div")
                    button(class="likert_button_orange", id="validate_user_name")
                            span
                                | Validate
                        
            -var mood_options = {"good": ["I'm good,", "thank you!"], "bad": ["I'm not so good unfortunately"]}
            +likert_chat_guided("mood_div", mood_options, "display:none;", "wide")

            div(id="usual_dinner_div", style="display:none;")
                div(id="usual_dinner_text")
                    p(id="usual_dinner_characterisctics_text")
                    p(id="usual_dinner_cuisine_text")
                    p(id="usual_dinner_ingredients_text")
                -var dinner_characteristics = ["Light", "Healthy", "Easy / fast to make", "Unhealthy", "Vegetarian", "Vegan", "Low in carbs", "Pick-up food", "Ready meal"]
                -var meats_usual_dinner = ["Some kind of meat", "Beef", "Chicken", "Duck", "Eggs", "Lamb", "Pork", "Turkey", "Veal"]
                -var fish_usual_dinner = ["Some kind of fish", "Alaska pollock", "Clams", "Cod", "Crab", "Haddock", "Halibut", "Prawns", "Salmon", "Seabass", "Shrimp", "Tilapia", "Tuna"]
                -var veggies_usual_dinner = ["Some kind of veggies", "Aspargus", "Avocado", "Beetroots", "Broccoli", "Brussels sprouts", "Cabbage", "Carrots", "Cauliflower", "Celery", "Chilies", "Corn", "Cucumbers", "Eggplant", "Garlic", "Green beans", "Kale", "Kidney beans", "Lettuce", "Mushrooms", "Onions", "Peas", "Peppers", "Potato", "Red cabbage", "Spinach", "Spring onions", "Sweetcorn", "Sweet potato", "Tomatoes", "Turnips", "Zucchini"]
                -var fruits_usual_dinner = ["Some kind of fruit", "Apples", "Bananas", "Blueberries", "Cantaloupe", "Cherries", "Grapes", "Lemons", "Limes", "Oranges", "Peaches", "Pineapple", "Strawberries", "Watermelon"]
                -var others_usual_dinner = ["Some kind of carbs", "Brown rice", "Chickpeas", "Couscous", "Kidney beans", "Lentils", "Pasta", "Potatoes", "Quinoa", "Rice", "Tofu"]
                -var cuisines_usual_dinner = ["African", "American", "British", "Cajun", "Caribbean", "Chinese", "Eastern european", "European", "French", "German", "Greek", "Indian", "Irish", "Italian", "Japanese", "Jewish", "Korean", "Latin american", "Mediterranean", "Mexican", "Middle eastern", "Nordic", "Southern", "Spanish", "Thai", "Vietnamese"]
                -var categories_usual_dinner = {"My dinner is usually...": dinner_characteristics, "Cuisine type": cuisines_usual_dinner, "Meat / Eggs": meats_usual_dinner, "Fish / Seafood": fish_usual_dinner, "Veggies": veggies_usual_dinner, "Others": others_usual_dinner}
                +usual_dinner_dropup_menu("usual_dinner_options", categories_usual_dinner, "display:block;")

            div(id="why_usual_dinner_div", style="display:none;")
                div(id="why_usual_dinner_text")
                -var i_like_that = ["It is tasty", "It is healthy", "It is easy / fast to make", "My family likes it", "It is filling", "It makes me feel good", "It is cheap", "It is easy to digest"]
                -var why_usual_dinner_options = {"I like that..." : i_like_that}
                +usual_dinner_dropup_menu("why_usual_dinner_options", why_usual_dinner_options, "display:block;")

            -var healthiness_options = {"no_pref": ["No preference"], "extr_unh": ["Extremely unhealthy"], "not_h": ["Not very healthy"], "slightly_h": ["Slightly healthy"], "moderately_h": ["Moderately healthy"], "very_h": ["Very healthy"], "extr_h": ["Extremely healthy"]}
            +likert_chat_guided("healthiness", healthiness_options, "display:none;")

            -var hungriness_options = {"no_pref": ["No preference"], "not_at_all_hungry": ["Not hungry at all"], "not_hungry": ["Not very hungry"], "slightly_hungry": ["Slightly hungry"], "moderately_h": ["Moderately hungry"], "very_h": ["Very hungry"], "extr_h": ["Extremely hungry"]}
            +likert_chat_guided("hungriness", hungriness_options, "display:none;")

            div(id="diets_intolerances", style="display:none")
                div(id="diet_text")
                div(id="intolerances_text")
                div(id="br_div")

                -var intolerances = ["Dairy", "Egg", "Gluten", "Grain", "Peanut", "Seafood", "Sesame", "Shellfish", "Soy", "Sulfite", "Wheat"]
                -var diets = ["Gluten Free", "Ketonic", "Vegetarian", "Lacto-Vegetarian", "Ovo-Vegetarian", "Vegan", "Pescetarian", "Paleo", "Primal", "Whole30"]
                -var diets_dict = {'diet': diets}
                -var intolerance_dict = {'intolerance': intolerances}
                -var diets_intolerances_dict = {"I have a specific diet...": diets_dict, "I am intolerant to...": intolerance_dict}
                +diet_intolereance_dropup_menu("diets_intolerances", diets_intolerances_dict, "display:block")

            -var time_options = {"10min": ["10 min"], "20 min": ["20 min"], "30min": ["30 min"], "40min": ["40 min"], "50min": ["50 min"], "1h": ["1 h"], "1h30": ["1 h 30"], "2 h": ["2 h"], "no_pref": ["Unlimited"]}
            +likert_chat_guided("time", time_options, "display:none;", "narrow")

            -var recipe_feedback_options = {"yes": ["Yes,", "I like it!"], "no_recipe": ["No, I don't like the recipe"], "no_ingredient": ["No, I don't like one", "of the ingredients"], "no_other": ["No,", "other reason"]}
            +likert_chat_guided("r_feedback", recipe_feedback_options, "display:none;", "wide")

            -var request_more = {"yes": ["Yes please"], "no": ["No thanks"]}
            +likert_chat_guided("request_more", request_more, "display:none;", "wide")

            div(id="ingredients_options", style="display:none")
                div(id="selected_ingredients_text")

                -var meats = ["Beef", "Chicken", "Duck", "Eggs", "Lamb", "Pork", "Turkey", "Veal"]
                -var fish = ["Alaska pollock", "Clams", "Cod", "Crab", "Haddock", "Halibut", "Prawns", "Salmon", "Seabass", "Shrimp", "Tilapia", "Tuna"]
                -var veggies = ["Aspargus", "Avocado", "Beetroots", "Broccoli", "Brussels sprouts", "Cabbage", "Carrots", "Cauliflower", "Celery", "Chilies", "Corn", "Cucumbers", "Eggplant", "Garlic", "Green beans", "Kale", "Kidney beans", "Lettuce", "Mushrooms", "Onions", "Peas", "Peppers", "Potato", "Red cabbage", "Spinach", "Spring onions", "Sweetcorn", "Sweet potato", "Tomatoes", "Turnips", "Zucchini"]
                -var fruits = ["Apples", "Bananas", "Blueberries", "Cantaloupe", "Cherries", "Grapes", "Lemons", "Limes", "Oranges", "Peaches", "Pineapple", "Strawberries", "Watermelon"]
                -var others = ["Brown rice", "Chickpeas", "Couscous", "Kidney beans", "Lentils", "Pasta", "Potatoes", "Quinoa", "Rice", "Tofu"]
                -var ingredient_categories = {"Meat / Eggs": meats, "Fish / Seafood": fish, "Veggies": veggies, "Others": others}
                +food_dropup_menu("ingredients_options", ingredient_categories, "display:block;")

    div(class="message_template")
        li(class="message")
            div(class="avatar")
            div(class="text_wrapper")
                div(class="text")
