include page.pug
include helper.pug

+page("Instructions")
    | Thank you for choosing recipes!
    br
    br
    | You will now start the interaction with Cora.
    br
    br
    br
    br
    center
        +navigation_button("Next","go_to_next_page();")