*
* {
  box-sizing: border-box;
}

#page-container {
  color: #757575;
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 0.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.5rem;            /* Footer height */
}


body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}

.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  height: calc(100% - 50px) ;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}

.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.chat_window_title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  /*height: 347px;*/
  height: calc(100% - 13px - 120px);
  width:calc(102%);
  overflow: scroll; 
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-image:url('img/user.png');
  /*background-color: #33ACFF;*/
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .ASR_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 60px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .ASR_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
#amtid_input {
  padding: 7px;
  font-size: 16px;
  border-width: 1px;
  border-color: #777777;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgba(66,66,66,.75);
  text-shadow: 0px 0px 0px rgba(66,66,66,.75);
  }
.bottom_wrapper .microphone {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  /*background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;*/
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}

.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #fff;
}
.bottom_wrapper .disable_send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #E4E2E1;
  border: 2px solid #E4E2E1;
  color: #fff;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}
.bottom_wrapper .disable_send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.message_template {
  display: none;
}

.project-presentation{
  font-size: 8px;
  /* position:absolute; */
  bottom:2px;
  left:5px;
  font-weight:normal;
}
.disclaimer{
  color: red;
}
.credits{
  font-size: 8px;
  /* position:absolute; */
  bottom:2px;
  right:5px;
  font-weight:normal;
  text-align: right;
}
/*.menu_buttons_wrapper{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/
.bottom_button_wrapper{
  margin: 0;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.page_buttons {
  max-width: 500px;
  width: 250px;
  height: 50px;
  display: block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
}
.page_buttons .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}
.page_buttons:hover {
  color: #a3d063;
  background-color: #fff;
}

#page_title {
  text-align: center;
  color: #626160;
  font-size: 30px;
  margin-top: 10px;
}

#server_error {
  font-size: 26px;
  color: #FF2424;
  font-weight: 700;
  text-align: center;
}

.questionnaire {
  font-size: calc(7px + min(1.5vw, 1vh));
  letter-spacing: -0.2px;
  word-spacing: 2px;
  color: #757575;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  margin: 0;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%
}

.wrap {
  font:12px "Calibri", "Roboto", sans-serif;
  width:80vw;
}
h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 16px;
  padding: 3px 0 0 4.25%;
  margin-bottom:2px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#C2C2C2;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 

/* Likert 11 points */

form .likert11points {
  list-style: none;
  width: 700px;
  margin: 0;
  padding: 0 0 35px;
  display: block;
}

form .likert11points:last-of-type {
  border-bottom: 0;
}

form .likert11points:before {
  content: '';
  position: relative;
  top: 11px;
  left: 0px;
  display: block;
  background-color: #C2C2C2;
  height: 4px;
  width: 625px;
}

form .likert11points li {
  display: inline-block;
  width: 57px;
  text-align: center;
  vertical-align: top;
}

form .likert11points li input[type=radio] {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -6px;

}

.likert-freq-scale-table {
  border: none;
  width: 700px;
}

.likert-freq-scale-table td {
  font-family: Arial, sans-serif;
  font-size: 10px;
  padding: 10px 5px;
  overflow: hidden;
  word-break: normal;
}

.likert-freq-scale-table th {
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 10px 5px;
  overflow: hidden;
  word-break: normal;
}

.likert-freq-scale-table .tg-wp8o {
  text-align: center;
  vertical-align: top
}

.likert-freq-scale-table .tg-xwyw {
  text-align: center;
  vertical-align: middle
}
/* END Likert 11 points */

form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;} 
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;} 



/*Foundation styles for sticky footer*/
.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + min(1.5vw, 1vh));
  letter-spacing: -0.2px;
  word-spacing: 2px;
  color: #757575;
  font-weight: 400;
}

#main_text{
  margin-right: 10%;
  margin-left: 10%;
}


#AMT_validation_code{
  color: #FF2424;
  font-size: x-large;
  font-weight: bold;
}

/* Classic radio buttons */
form .statement-demographics {
  display:block;
  font-size: 16px;
  padding: 3px 0 0 0;
  margin-bottom:10px;
  margin-top: 25px;
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
  .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
  }
.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
}
.control-radio .control_indicator {
  border-radius: 50%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-radio .control_indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
}
.control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}

.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

.input-demographics{
  padding: 5px 5px;
  font-size: 14px;
}

.slider {
  -webkit-appearance: none;
  width: 670px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}