include page.pug
include helper.pug

+page("Consent Forn")
    | If you agree to participate in this study, please read the text below, and click "Consent and proceed". to indicate your agreement and to begin the study.
    br
    br
    | I have read the Information Form for participants and so understand the procedures, and have been informed about what to expect.  I have freely consented to take part in a scientific study being conducted by Dr. Florian Pecune.
    br
    br
    | The study aims has been communicated to me and I understand the explanation given and what my participation will involve. 
    br
    br
    | I understand that my participation in this study is voluntary, and that I can withdraw from the study, at any time and for any reason, without having to give a reason.
    br
    br
    | I understand any information recorded in this study will be made and kept anonymous, and will remain confidential, and no information that identifies me will be made publicly available.
    br
    br
    | I understand that my participation in this project is for the purposes of research, and is in no way an evaluation of me as an individual.
    br
    br
    | I understand that anonymized research data will be archived and might also be uploaded onto digital data repositories, such as the Open Science Framework, in line with current data sharing practices.
    br
    br
    | I understand that I can contact the researcher(s) for this project by email to receive more information and/or a summary of the anonymized group results.
    br
    br
    br
    br
    center
        +navigation_button("Consent and proceed","go_to_next_page();")