include page.pug
include helper.pug

+page("Contact us")
    center You can contact the research team working on Cora at <a href = "mailto: uofg.virtualagents@gmail.com">uofg.virtualagents@gmail.com</a>.
        