include page.pug
include helper.pug

+page("About you", true)
    link(href="demographics.css", rel="stylesheet", id="demographics-css")
    | Last step: please tell us a little bit about yourself!
    br
    br
    div(id="questionnaire_wrap")
        div(class="wrap")
            form(id="questionnaire")
            
                //- label(class="statement-demographics", id="label_age")
                //-     | How old are you? Please type below.
                //- input(type="text", name="age", class="input-demographics")

                //- -var q_employment = "What best describes your employment status? (multiple answers allowed)"
                //- -var q_employment_dict = {"full-time": "Employed full-time", "part-time": "Employed, part-time", "student": "Student", "unemployed": "Umemployed"}
                //- +classic_checkbox(q_employment, "employment", q_employment_dict)

                //- -var q_gender = "What best describes your gender identity?"
                //- -var q_gender_dict = {"male": "Male", "female": "Female", "other": "Non-Binary"}
                //- +classic_radio(q_gender, "gender", q_gender_dict)

                //- label(class="statement-demographics", id="label_where")
                //-     | What country do you currently live in? Please type below.
                //- input(type="text", name="where", class="input-demographics")

                //- label(class="statement-demographics", id="label_from")
                //-     | Where are you from originally? Please type below.
                //- input(type="text", name="from", class="input-demographics")

                //- -var q_education = "What is your highest education level?"
                //- -var q_education_dict = {"no_education": "No formal education", "secondary": "Secondary school / GCSE", "college": "College / A levels", "udergrad": "Undergraduate degree (BA/BSc/other)", "graduate": "Graduate degree (MA/MSc/MPhil/other)", "PhD": "Doctorate degree (PhD/MD/other)"}
                //- +classic_radio(q_education, "education", q_education_dict)
                label(class="statement-demographics", id="label_want_to_eat_healthy")
                    | "I want to eat healthy." Please repport on the scale below how much you agree with that statement.
                div(class="control-group")
                    table(with="750px")
                        tr
                            td(style="font-size:14px")
                                br
                                | Totally disagree
                            td(width="150px", style="padding-left:40px")
                                label(class="control control-radio")
                                    input(type="radio", name="want_to_eat_healthy", value="1")
                                    div(class="control_indicator")
                            td(width="150px", style="padding-left:40px")
                                label(class="control control-radio")
                                    input(type="radio" name="want_to_eat_healthy" value="2")
                                    div(class="control_indicator")
                            td(width="150px", style="padding-left:40px")
                                label(class="control control-radio")
                                    input(type="radio" name="want_to_eat_healthy" value="3")
                                    div(class="control_indicator")
                            td(width="150px", style="padding-left:40px")
                                label(class="control control-radio")
                                    input(type="radio" name="want_to_eat_healthy" value="4")
                                    div(class="control_indicator")
                            td(width="150px", style="padding-left:40px")
                                label(class="control control-radio")
                                    input(type="radio" name="want_to_eat_healthy" value="5")
                                    div(class="control_indicator")
                            td(style="font-size:14px")
                                br
                                | Totally agree

                label(class="statement-demographics", id="label_like_cooking")
                    | How much do you enjoy cooking? Please repport on the scale below.
                div(class="control-group")
                    table(with="750px")
                        tr
                            td(style="font-size:14px")
                                br
                                | Coocking is torture
                            td(width="150px", style="padding-left:40px")
                                label(class="control control-radio")
                                    input(type="radio", name="like_cooking", value="1")
                                    div(class="control_indicator")
                            td(width="150px", style="padding-left:40px")
                                label(class="control control-radio")
                                    input(type="radio" name="like_cooking" value="2")
                                    div(class="control_indicator")
                            td(width="150px", style="padding-left:40px")
                                label(class="control control-radio")
                                    input(type="radio" name="like_cooking" value="3")
                                    div(class="control_indicator")
                            td(width="150px", style="padding-left:40px")
                                label(class="control control-radio")
                                    input(type="radio" name="like_cooking" value="4")
                                    div(class="control_indicator")
                            td(width="150px", style="padding-left:40px")
                                label(class="control control-radio")
                                    input(type="radio" name="like_cooking" value="5")
                                    div(class="control_indicator")
                            td(style="font-size:14px")
                                br
                                | I love cooking


                - var q_freq_cook_dict = {"once_day": "At least once a day", "several_t_w": "Several times a week", "once_w": "At least once a week", "occasionnaly": "Less than once a week", "never": "Never"}
                - var q_freq_cook = "How frequently do you cook at home?"
                +classic_radio(q_freq_cook, "freq_cook", q_freq_cook_dict)

                - var q_healthy_food_dict = {"no": "No", "occasionnaly": "Only occasionnaly", "most_times": "Yes, most of the time", "always": "Yes, definitely"}
                - var q_healthy_food = "Do you usually eat healthy food?"
                +classic_radio(q_healthy_food, "healthy_food", q_healthy_food_dict)

                - var q_online_recipeDB_dict = {"never": "Never", "occasionnaly": "Only occasionnaly", "few_times_week": "A few times a week", "every_day": "Every day"}
                - var q_online_recipeDB = "How frequently do you look for a recipe online?"
                +classic_radio(q_online_recipeDB, "freq_online_recipe_DB", q_online_recipeDB_dict)

                //- - var q_diets_dict = {"vegan": "Vegan", "vegetarian": "Vegetarian", "pescetatian": "Pescetarian", "gluten_free": "Gluten intolerance", "lactose_free": "Lactose intolerance", "eggs_free": "Egg intolerance", "keto_diet": "Keto diet", "none": "No specific diet or intolerance"}
                //- - var q_diets = "Do you have a specific diet or any intolerance?"
                //- +classic_checkbox(q_diets, "diets", q_diets_dict)

                - var q_CA_faliliarity_dict = {"very_familiar": "Very familiar (I use conversational systems everyday)",  "somewhat_familiar": "Somewhat familiar (I use conversational systems once in a while)", "not_familiar": "Not familiar (I never or almost never use conversational systems)"}
                - var q_CA_faliliarity = "How familiar are your with conversational systems (e.g. Siri, Alexa, Google Home, Cortana)?"
                +classic_radio(q_CA_faliliarity, "CA_familiarity", q_CA_faliliarity_dict)

                //- script(src="demographics.js")
        br
        br
        center
            +navigation_button("Submit","get_demographics_answers();")