include page.pug
include helper.pug

+page()
    | You are at home and wondering what you will cook for dinner tonight.
    br
    br
    | You remember that you downloaded AGENTNAME on your computer earlier that week. 
    br
    br
    | From what you've heard from your friends, AGENTNAME is knowledgable about food.
    br
    br
    | Even though you've never interacted with her before, you know that she can help you find a recipe for your dinner.
    br
    br
    br
    br
    +next_page("go_to_next_page();")