include page.pug
include helper.pug

+page()
    | You are hosting a movie night at your house tonight. 
    | A lot of your friends will be coming, and you have been so busy this week that you completely forgot to come up with some movie options for your friends to pick from.
    br
    br
    | Luckily, you remember that you downloaded AGENTNAME on your computer earlier that week. 
    | From what you've heard from your friends, AGENTNAME is knowledgable about movies, and can tell you the actors, genre, and plot associated with the movie she recommends.
    br
    br
    | Even though you've never interacted with her before, you know that she can help you find some movies to consider in time for your movie night.
    br
    br
    br
    | When you are ready, click on the button below, and say "hello" to AGENTNAME to start the interaction! 
    br
    br
    br
    i Don't forget to push the microphne button before talking, and please be aware that can be a little slow sometimes.
    br
    br
    br
    br
    +next_page("go_to_pre_study_questionnaire();")