include page.pug
include helper.pug

+page()
    | You are at home and wondering what you will cook for dinner tonight.
    br
    br
    | You remember that you downloaded AGENTNAME on your computer earlier that week. 
    | From what you've heard from your friends, AGENTNAME is knowledgable about food and even though you've never interacted with her before, you know that she can help you find a recipe for your dinner.
    br
    br
    br
    | When you are ready, click on the button below, and say "hello" to AGENTNAME to start the interaction! 
    br
    br
    br
    i Don't forget to push the microphne button before talking, and please be aware that the system can be a little slow sometimes.
    br
    br
    br
    br
    +next_page("go_to_next_page();")