include page.pug
include helper.pug

+page("Instructions")
    | Now we’ll introduce you to 
    i
        |  Cora.
    br
    br
    | Imagine that you are at home, and wondering what to cook for dinner tonight.
    br
    br
    | Please have a chat with Cora to see if she can help you find a recipe for your dinner!
    br
    br
    br
    br
    +next_page("go_to_next_page();")