include page.pug
include helper.pug

+page()
    | To discuss with AGENTNAME, you can "Read and Write" or to "Speak and Listen".
    br
    br
    | If you want to "Speak and Listen", here is how to allow the website to access your microphone:
    br
    br
    ol
        //- li Go to the website.
        li Click "green lock" icon or "i in circle" icon beside the URL in the address bar.
        li In the menu, choose "Always allow on this site" for Microphone.
        li Reload.
    br
    br
    b
        | Please set up the microphone-access authorization 
        i   NOW
        | &nbsp if you want to "Speak and Listen".
        //- You can leave the conversation by telling AGENTNAME that you do not need more recommendations from her when she asks you. 
        //- | A button "Next" will appear at the bottom of the chat window, leading to a short survey about your experience.
    //- br
    //- br
    //- | You'll then see a new button appearing at the bottom of your screen leading to a short survey about your experience. 
    //- br
    //- br
    //- | Once you have completed the survey, we will provide you with your AMT validation code. 
    br
    br
    br
    br
    +next_page("go_to_instructions();")