include page.pug
include helper.pug

+page()
    | Thank you for your interest in our study.
    br
    br
    | Here is what we will ask you to do:
    br
    ol
        li Answer a few questions about yourself (demographics survey).
        li Tell us about your eating habits (eating habits survey).
        li Go through some basic instructions to chat with our virtual agent CORA.
        li Chat with CORA to get a recipe recommendation for your dinner.
        li Give us some feedback about your experience with CORA (feedback survey).
    | The whole study should take you about 15min.
    br
    br
    | If you encounter any problem with the study, you can contact our staff at <a href = "mailto: uofg.virtualagents@gmail.com">uofg.virtualagents@gmail.com</a>.
    br
    br
    br
    br
    +next_page("go_to_instructions();")