include page.pug
include helper.pug

+page("How did it go?", true)
    div(id="questionnaire_wrap")
        div(class="wrap")
            form(id="questionnaire")

        center
            +navigation_button("Submit","get_q_id(get_questionnaire_answers);")
        
