include page.pug
include helper.pug

+page("Evaluate recipes", true)
    link(href="rs_eval.css", rel="stylesheet", id="rs-css")
    div(id="questionnaire_wrap")
        div(class="wrap")
            div(id="rs_eval_div", style="display:none;")
                center
                    div(class="recipe_grid")
                        div(class="recipe_img")
                            img(class="center-cropped-large", src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F272744.jpg", id="recipe_img", height="250px")
                        div(class="recipe_title") 
                            center
                                span(id="recipe_title")="Slow Cooker Chicken Taco Soup"
                                br
                                br
                        div(class="recipe_rating")
                        div(class="recipe_time")
                            b Prep: 15 mins
                            |
                            |
                            span(id="prep_time") 
                            br
                            br
                            b Cook: 7hrs
                            |
                            |
                            span(id="cook_time") 
                            br
                            br
                            b Total: 7 hrs 15 mins
                            |
                            |
                            span(id="total_time") 
                        div(class="recipe_servings")
                            b Servings: 8
                            |
                            |
                            span(id="servings") 
                        div(class="recipe_description", id="recipe_description")
                            | You can call this soup or chili, but either way it is wonderful! This recipe is also very adaptable to your personal taste. I recommend using Bill Echols' Taco Seasoning from this website. Serve topped with shredded Cheddar cheese, a dollop of sour cream, and crushed tortilla chips, if you like. I hope you enjoy!

                        div(class="recipe_ingredients")

                            br

                            span(style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 26px;") Ingredients

                            br
                            br

                            //- -var ingredients = [["1 onion", "1 carrot", "1 celery"], ["2 garlic cloves", "1 tbsp olive oil", "550g floury potatoes"], ["1l chicken or vegetable stock", "8 rashers streaky bacon", "a quarter medium Savoy cabbage (about 200g/8oz)"]]
                            -var ingredients = [["1 onion bien bien mur et assez gros, de preference blanc qui s epluche facilement et qui pique pas les yeux, comme garnier ultra doux", "1 carrot", "1 celery"], ["2 garlic cloves", "1 tbsp olive oil", "550g floury potatoes"], ["1l chicken or vegetable stock", "8 rashers streaky bacon", "a quarter medium Savoy cabbage (about 200g/8oz)"]]
                            div(class="grid_ingredients")
                                div(class="grid_ingredients_item", id="ingredients_col1")
                                div(class="grid_ingredients_item", id="ingredients_col2")
                                div(class="grid_ingredients_item", id="ingredients_col3")
                        br

                        div(class="recipe_instructions")

                            br

                            span(style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 26px;") Steps

                            div(id="instructions_list")
                            -var instructions = ["Chop the onion, carrot, celery and garlic in a food processor. Heat the oil over a medium heat in a large saucepan. Add the vegetables and potatoes, season well, then reduce the heat and cover the pan. Gently cook for about 5 mins until starting to soften, then add the stock, turn up the heat and bring to the boil. Simmer for 5 mins more, or until all the vegetables are tender.", "While the soup is cooking, grill or fry the bacon until crisp, then cut into strips. Shred the cabbage, discarding the core.", "Whizz the soup in the food processor until smooth, then return to the pan and add the cabbage. Simmer for a few mins until the cabbage is just tender, then season to taste and serve scattered with the bacon."]

                            //- each i in instructions
                            //-     span=i
                            //-     br
                            //-     br

                center
                    br
                    br
                    div(class="rating" sytle="font-size: 72px; color: #edeff2;")
                        span(class="start_rating", name="5", onclick="rating_fct(\"rid\",5,send_data_collection_callback);" style="font-size: 48px;width:60px; color: #F9C811;") ☆
                        span(class="start_rating", name="4", onclick="rating_fct(\"rid\",4,send_data_collection_callback);" style="font-size: 48px;width:60px; color: #F9C811;") ☆
                        span(class="start_rating", name="3", onclick="rating_fct(\"rid\",3,send_data_collection_callback);" style="font-size: 48px;width:60px; color: #F9C811;") ☆
                        span(class="start_rating", name="2", onclick="rating_fct(\"rid\",2,send_data_collection_callback);" style="font-size: 48px;width:60px; color: #F9C811;") ☆
                        span(class="start_rating", name="1", onclick="rating_fct(\"rid\",1),send_data_collection_callback;" style="font-size: 48px;width:60px; color: #F9C811;") ☆
                    //- | ☆ test test test
                    //- span(style="color: #edeff2;") test test test
                //- span ☆
                //- span ☆
                //- span ☆
                //- span ☆
            //- br
            //- br
            //- +navigation_button("Next","eval_reco();")