include page.pug
include helper.pug

+page("Evaluate recipes", true)
    link(href="rs_eval.css", rel="stylesheet", id="rs-css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    div(id="questionnaire_wrap")
        div(class="wrap")
            div(id="rs_eval_div", style="display:block;")
                center
                    div(class="outter-grid-container")
                        div(id="recipe1", class="inner-grid-container igc-border", onclick="selectRecipe('rid', 'recipe1');")
                            div(class="recipe-image")
                                img(src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F931987.jpg", id="recipe_img", height="200px")
                            div(class="recipe-title")
                                | Bacon Dijon Egg Salad Sandwich
                            div(class="recipe-rating")
                                div(class="rating")
                                    |
                                    span(id="rating-number" class="rating-number") (56)
                                    |
                                    |
                                    //- span(class="halfstar") ☆
                                    span(id="r1_stars")
                                        i(class="fa fa-star-half-full" style="font-size:17px;color:#F9C811")
                                        span(class="fullstar") ☆
                                        span(class="fullstar") ☆
                                        span(class="fullstar") ☆
                                        span(class="fullstar") ☆
                            div(class="recipe-description") 
                                | This recipe has been in our family for over 100 years.
                            div(class="recipe-prep")
                                | Prep: 10min
                            div(class="recipe-cook")
                                | Cook: 10min
                            div(class="recipe-total")
                                | Total: 20min


                        div(class="inner-grid-container")
                            div(class="recipe-image")
                                img(src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F873613.jpg", id="recipe_img", height="200px")
                            div(class="recipe-title")
                                | Almost Authentic Cesar Salad
                            div(class="recipe-rating")
                                | 4.3 (56)
                            div(class="recipe-description") 
                                | I always hated gloppy Caesar dressings, so I came up with my own, which is very similar to the original one created in Tijuana in the 1920s. 
                            div(class="recipe-prep")
                                | Prep: 20min
                            div(class="recipe-cook")
                                | Cook: 10min
                            div(class="recipe-total")
                                | Total: 30min


                        div(class="inner-grid-container")
                            div(class="recipe-image")
                                img(src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F33622.jpg", id="recipe_img", height="200px")
                            div(class="recipe-title")
                                | Greasy Chicken
                            div(class="recipe-rating")
                                | 4.3 (56)
                            div(class="recipe-description") 
                                | A very tasty and tangy, yet somewhat fattening meal. This chicken goes great over rice.
                            div(class="recipe-prep")
                                | Prep: 15min
                            div(class="recipe-cook")
                                | Cook: 25min
                            div(class="recipe-total")
                                | Total: 45min
            center
                br
                br
                +navigation_button("Next","eval_reco();")