include page.pug
include helper.pug

+page("Demographics questionnaire", true)
    link(href="demographics.css", rel="stylesheet", id="demographics-css")
    link(href="rs_food_questionnaire.css", rel="stylesheet", id="rs-food-questionnaire-css")
    div(id="questionnaire_wrap")
        div(class="wrap")
            form(id="questionnaire")

                -var question = "When I look for a recipe on the web, I would like to..."
                -var resp_options = { "something_new": "just be recommended something new",  "detailed_instructions": "be recommended a recipe with detailed instructions",  "picture": "be recommended a recipe with a beautiful picture of the dish",  "video": "be recommended a recipe that has a tutorial video attached", "input_recipes": "input to the system a few recipes I like so that it finds something similar", "input_ingredients": "input ingredients I want to cook", "input_dishname": "input the name of the dish I want to cook (for example lasagna)", "input_time": "input how much time I have", "input_cuisine": "input a type of cuisine (for example Italian)", "input_n_servings": "input the number of servings so that quantities of ingredients are automatically calculated", "input_NO_ingredients": "specify ingredients I don't have or don't want in the recipe", "input_diet": "input a specific diet (for example vegan)", "input_calories_nutriments": "input a minimum or maximum number for calories or nutrients (for example salt) in the dish", "input_healthy": "specify how healthy I want to meal to be (for example not at all, slightly, very)", "input_price": "specify a maximum price for all the ingredients", "input_chef": "specify the name of a chef who would have created the recipe I will be recommended"}
                +classic_checkbox(question, "whats_important", resp_options, true)

            
                br
                br
                br

                span(class="statement-demographics") Is anything else not listed above impotant to you when looking for a recipe? 
                br
                br
                textarea(cols="100", rows="5", id="free_text_whats_important", placeholder="Tell us here")
        br
        br
        br
        br
        center
            +navigation_button("Submit","get_rs_food_questionnaire_answers();")