include page.pug
include helper.pug

+page("Instructions")
    //- | The goal of a recipe recommender system suggest recipes you would like.
    //- br
    //- br
    //- | But before doing that, 
    //- b
    //-     | the recommender system needs to learn a bit about your preferences.
    //- br
    //- br
    //- | Therefore in the first phase of this study, be presented with 30 recipes, from which you should choose some (at least 3) you would like to cook tonight.
    //- br
    //- br
    //- br
    //- br
    //- | OR
    //- br
    //- br
    | You will now be presented with 30 recipe cards. 
    br
    br
    | Your task is to 
    b
        | choose at least 5 recipes that you like and could cook tonight.
    br
    br
    //- | You will have to complete the task 
    //- b
    //-     | twice
    //- |, with two different lists of recipes.
    //- br
    //- br
    //- br
    //- br
    i
        | To see the full recipe, right-click on the recipe card.
    br
    br
    br
    br
    center
        +navigation_button("Next","go_to_next_page();")