include page.pug
include helper.pug

+page()
    center
        | Thank you for your participation.
        br
        br
        br
        br
        br
        br
        | Your AMT validation code is
        br
        br
        div(id="AMT_validation_code")