include page.pug
include helper.pug

+page("Thanks!")
    | Thank you for your participation.
    br
    br
    | Feel free to contact us at 
    a(href="mailto: uofg.virtualagents@gmail.com", title="uofg.virtualagents@gmail.com") uofg.virtualagents@gmail.com
    |  if your want more details about this study.
    br
    br
    | Your AMT completion code is 
    span(style="color:red;")="49D46426"
    | . 
    br
    br
    //- | Your AMT validation code is
    br
    br
    //- div(id="AMT_validation_code")
    center
        //- +navigation_button("Finish","go_to_prolific_validation_page();")